# Ignore node modules
node_modules/
Documentation/

# Ignore environment variables
.env

# Ignore log files
*.log
Packeges.txt
sample code.txt
main.js
About.html
registration.html

# Ignore system files
.DS_Store

# Ignore IDE files (optional)
.vscode/
.idea/
